<br>
<br>
<br>
  
<div class="page-wrapper">
    <div class="checkout shopping">
       <div class="container">
          <div class="row">
             <div class="col-lg-8 pr-5">
                <div class="InRegardsto">
                   <h4 class="mb-4 border-bottom pb-4"> In Regards to  </h4>
                   
                   <form class="add-form">
                      <div class="row">
                         <div class="col-lg-12">
                             <div class="form-group mb-4">
                               <label for="item_name"> Item Name </label>
                               <input type="text" class="form-control form-control-lg rounded" />
                            </div>
                         </div>

                         <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="Category"> Category </label>
                              <input type="text" class="form-control form-control-lg rounded" />                           </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="Matter"> Matter </label>
                              <input type="text" class="form-control form-control-lg rounded" />                           </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="Color"> Color </label>
                              <input type="text" class="form-control form-control-lg rounded" />                           </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="State"> State </label>
                              <input type="text" class="form-control form-control-lg rounded" />                           </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="Description"> Description </label>
                              <textarea class="form-control" id="msg" cols="30" rows="5"></textarea>
                           </div>
                        </div>

                        <div class="col-lg-12">
                           <label for="Size"> Size </label>
                           <br>
                           <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                            <label class="form-check-label" for="inlineRadio1"> L </label>
                          </div>
                          
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                            <label class="form-check-label" for="inlineRadio2"> M </label>
                          </div>
                          
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
                            <label class="form-check-label" for="inlineRadio3"> S </label>
                          </div>

                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" />
                            <label class="form-check-label" for="inlineRadio3"> XS </label>
                          </div>
                        </div>
                      </div>
                         
                    </form>
                </div>

                <br>
                <div class="Price">
                    <h4 class="mb-4 border-bottom pb-4"> Price </h4>
                    
                    <form class="checkout-form">
                       <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="selling_price"> Selling Price </label>
                                <input type="text" class="form-control form-control-lg rounded" />
                             </div>
                          </div>
 
                          <div class="col-lg-12">
                             <div class="form-group mb-4">
                               <label for="original_price"> Original Price </label>
                               <input type="text" class="form-control form-control-lg rounded" />                           </div>
                             </div>   
                          </div>
                          
                    </form>
                 </div>

                 <br> 

                 <div class="GeneralInformations">
                    <h4 class="mb-4 border-bottom pb-4"> General Informations </h4>
                    
                    <form class="checkout-form">
                       <div class="row">
                          <div class="col-lg-12">
                              <div class="form-group mb-4">
                                <label for="Phone"> Phone </label>
                                <input type="text" class="form-control form-control-lg rounded" />
                             </div>
                          </div>

                          <div class="col-lg-12">
                            <div class="form-group mb-4">
                              <label for="E-mail"> E-mail </label>
                              <input type="text" class="form-control form-control-lg rounded" />
                           </div>
                          </div>
 
                          <div class="col-lg-12">
                             <div class="form-group mb-4">
                               <label for="Address"> Address </label>
                               <input type="text" class="form-control form-control-lg rounded" />                           </div>
                             </div>
                          </div>
                          
                    </form>
                 </div>
             </div>
 
             <!-- Photos -->
             <div class="col-md-6 col-lg-4">
                <div class="product-checkout-details mt-5 mt-lg-0">
                      <h4 class="mb-4 border-bottom pb-4"> Photos </h4>
                      <div class="card">
                        <div class="form-row text-center">
                        <p style="margin-top: 80px;"> You have not added any photos yet </p>
                        <a href="cart">
                            <button style="display: center; border-radius: 8px;" type="button" class="btn1 btn-sm"> Add Photos </button>
                        </a>
                        </div>
                        <br>
                      </div>
                      <br>
                      <div class="form-row text-center">
                      <a href="listofproducts" class="btn btn-main btn-small rounded">I Sell</a>
                      </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 
 
    

  