@media (max-width: 767.98px) { 
    .border-sm-start-none { border-left: none !important; } 
}
@media (max-width: 767.98px) { 
    .border-sm-start-none { border-left: none !important; } 
}
.btn{
    background-color: #fb5c42;
    color: white;  
}