<br>
<br>
<br>
<!-- Welcoming -->
  <div class="card1 bg-black" style="max-width: 1500px; height: 650px">
    <div class="row g-0">
      <div class="col-md-6 pt-5">
        <div class="card-body">
          <p class="card-text display-3 text-center text-light">
            Buy and Sell <br>
            your Clothes <br>
            without leaving your Home.
          </p>
          <br>
          <p class="card-text fw-lighter fs-5 text-light text-center">
            The only app that lets you make money <br> 
            by selling your clothes and buy new ones at 70% off.
          </p>
        </div>
      </div>
      <div class="col-md-3 pt-3">
        <img src="./assets/images/app2.png" class="img-fluid align-center rounded-start">
      </div>
      <div class="col-md-3 pt-5">
        <img src="./assets/images/app3.png" class="img-fluid rounded-start">
      </div>
    </div>
  </div>

  <!-- Numbers -->
  <section class="users my-5 text-center" id="users">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="card border-dark">
                <div class="card-body">
                  <img src="./assets/images/man.png" width="100" class="img">
                  <h5 class="card-title mt-4 fs-1">+700k</h5>
                  <p class="card-text fs-5">Users</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="card border-dark">
                <div class="card-body">
                    <img src="./assets/images/fashion.png" width="100" class="img-fluid">
                    <h5 class="card-title mt-4 fs-1">+2M</h5>
                    <p class="card-text fs-5">Items on sale</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="card border-dark">
                <div class="card-body">
                    <img src="./assets/images/download2.png" width="100" class="img-fluid">
                    <h5 class="card-title mt-4 fs-1">+500k</h5>
                    <p class="card-text fs-5">Downloads</p>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- New arrivals -->
  <section class="section products-main">
      <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="title text-center">
                        <h2>New arrivals</h2>
                        <p>The best Online sales to shop these weekend</p>
                    </div>
                </div>
            </div>
    
        <div class="row">
          <!-- Product1 -->
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
              <div class="product border border-secondary">
                <div class="product-wrap">
                    <a href="product-single">
                      <img class="img-fluid w-100 mb-3 img-first" src="assets/images/women1.jpg" alt="product-img" />
                    </a>
                </div>
    
                <span class="onsale bg-black">Sale</span>
                <div class="product-hover-overlay">
                    <a href="cart"><i class="tf-ion-android-cart"></i></a>
                    <a href="favorites"><i class="tf-ion-ios-heart"></i></a>
                  </div>
    
                <div class="product-info">
                    <h2 class="product-title h5 mb-0"><a href="#">Coat</a></h2>
                    <span class="price">
                        329.10 DT
                    </span>
                </div>
            </div>
          </div>

          <!-- Product2 -->
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product border border-secondary">
                <div class="product-wrap">
                    <a href="product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/women9.jpg" alt="product-img" /></a>
                </div>
    
                <div class="product-hover-overlay">
                    <a href="cart"><i class="tf-ion-android-cart"></i></a>
                    <a href="favorites"><i class="tf-ion-ios-heart"></i></a>
                  </div>
                  
                <div class="product-info">
                    <h2 class="product-title h5 mb-0"><a href="#">Trouser</a></h2>
                    <span class="price">
                        29.10 DT
                    </span>
                </div>
            </div>
          </div>
    
          <!-- Product3 -->
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product border border-secondary">
                <div class="product-wrap">
                    <a href="product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/women2.jpg" alt="product-img" /></a>
                </div>
    
                <span class="onsale bg-black">Sale</span>
                <div class="product-hover-overlay">
                    <a href="cart"><i class="tf-ion-android-cart"></i></a>
                    <a href="favorites"><i class="tf-ion-ios-heart"></i></a>
                  </div>
    
                <div class="product-info">
                    <h2 class="product-title h5 mb-0"><a href="#">Shirt</a></h2>
                    <span class="price">
                        355.00 DT
                    </span>
                </div>
            </div>
          </div>
    
          <!-- Product4 -->
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product border border-secondary">
                <div class="product-wrap">
                    <a href="product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/women12.jpg" alt="product-img" /></a>
                </div>
    
                <div class="product-hover-overlay">
                    <a href="cart"><i class="tf-ion-android-cart"></i></a>
                    <a href="favorites"><i class="tf-ion-ios-heart"></i></a>
                  </div>
    
                <div class="product-info">
                    <h2 class="product-title h5 mb-0"><a href="#">Shoes</a></h2>
                    <span class="price">
                        249 DT
                    </span>
                </div>
            </div>
          </div>
    
          <!-- Product5 -->
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product border border-secondary">
                <div class="product-wrap">
                    <a href="product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/men11.jpg" alt="product-img" /></a>
                </div>
    
                <div class="product-hover-overlay">
                    <a href="cart"><i class="tf-ion-android-cart"></i></a>
                    <a href="favorites"><i class="tf-ion-ios-heart"></i></a>
                  </div>
    
                <div class="product-info">
                    <h2 class="product-title h5 mb-0"><a href="#">Shirt</a></h2>
                    <span class="price">
                        59.10 DT
                    </span>
                </div>
            </div>
          </div>
    
          <!-- Product6 -->
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product border border-secondary">
                <div class="product-wrap">
                    <a href="product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/men4.jpg" alt="product-img" /></a>
                </div>
    
                <div class="product-hover-overlay">
                    <a href="cart"><i class="tf-ion-android-cart"></i></a>
                    <a href="favorites"><i class="tf-ion-ios-heart"></i></a>
                  </div>
    
                <div class="product-info">
                    <h2 class="product-title h5 mb-0"><a href="#">Coat</a></h2>
                    <span class="price">
                        99.00 DT
                    </span>
                </div>
            </div>
          </div>
    
          <!-- Product7 -->
          <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product border border-secondary">
                <div class="product-wrap">
                    <a href="product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/men8.jpg" alt="product-img" /></a>
                </div>
    
                <div class="product-hover-overlay">
                    <a href="cart"><i class="tf-ion-android-cart"></i></a>
                    <a href="favorites"><i class="tf-ion-ios-heart"></i></a>
                  </div>
    
                <div class="product-info">
                    <h2 class="product-title h5 mb-0"><a href="#">Sweater</a></h2>
                    <span class="price">
                        329.10 DT
                    </span>
                </div>
            </div>
          </div>
    
          <!-- Product8 -->
         <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5">
            <div class="product border border-secondary">
                <div class="product-wrap">
                    <a href="product-single"><img class="img-fluid w-100 mb-3 img-first" src="assets/images/men16.jpg" alt="product-img" /></a>
                </div>
    
                <span class="onsale bg-black">Sale</span>
                <div class="product-hover-overlay">
                    <a href="cart"><i class="tf-ion-android-cart"></i></a>
                    <a href="favorites"><i class="tf-ion-ios-heart"></i></a>
                  </div>
    
                <div class="product-info">
                    <h2 class="product-title h5 mb-0"><a href="#">Shoes</a></h2>
                    <span class="price">
                        <!-- <del>60<pre wp-pre-tag-3=""></pre></del> -->
                        50.10 DT
                    </span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Pub -->
    <div class="row justify-content-center">
    <div class="carddd card-5 m-5">
      <div class="col-lg-6">
      <img src="assets/images/b1.png" width="400" height="300">
      </div>
      <p class="card__exit">※</p>
      <div class="col-lg-6 offset-lg-6">
      <span class="text-light display-6"> Deal of the day 50% Off </span>
              <p class="text-md mt-3 text-white"> Hurry up! Limited time offer.Grab ot now! </p>
      <a href="shop" class="btn btn-main rounded"><i class="ti-bag mr-2"></i> Shop Now </a>
      </div>
    </div>
    </div>
    
  <!-- List -->
  <section class="section products-list">
    <div class="container">
      <div class="row">
  
        <!-- Best selllers -->
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="widget-featured-entries mt-5 mt-lg-0">
            <h4 class="mb-4 pb-3"> Best sellers </h4>

            <!-- Product1 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                 <img class="card-img-left example-card-img-responsive" src="assets/images/men9.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Adidas - Beanies </p>
                <p class="card-text"> 27.99 DT </p>
              </div>
            </div>

            <br>
            <!-- Product2 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                 <img class="card-img-left example-card-img-responsive" src="assets/images/womenn11.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Heel </p>
                <p class="card-text"> 42.99 DT </p>
              </div>
            </div>

            <br>
            <!-- Product3 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/women8.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Trouser </p>
                <p class="card-text"> 38.00 DT </p>
              </div>
            </div>

            <br>
            <!-- Product4 -->
            <div class="card flex-row border-secondary">
            <a href="product-single">
              <img class="card-img-left example-card-img-responsive" src="assets/images/women3.jpg" width="70" height="100"/>
            </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Bag - Parfois </p>
                <p class="card-text"> 35.00 DT </p>
              </div>
            </div>

            <br>
            <!-- Product5 -->
            <div class="card flex-row border-secondary">
            <a href="product-single">
              <img class="card-img-left example-card-img-responsive" src="assets/images/men14.jpg" width="70" height="100"/>
            </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Shoes </p>
                <p class="card-text"> 10.60 DT </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Women -->
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="widget-featured-entries mt-5 mt-lg-0">
            <h4 class="mb-4 pb-3"> Women </h4>
  
            <!-- Product1 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/women2.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Shirt </p>
                <p class="card-text"> 27.99 DT </p>
              </div>
            </div>

            <br>
            <!-- Product2 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/women4.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Sweater </p>
                <p class="card-text"> 42.99 DT </p>
              </div>
            </div>

            <br>
            <!-- Product3 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/women9.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Trouser </p>
                <p class="card-text"> 38.00 DT </p>
              </div>
            </div>

            <br>
            <!-- Product4 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/women1.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Coat </p>
                <p class="card-text"> 35.00 DT </p>
              </div>
            </div>

            <br>
            <!-- Product5 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/women12.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Shoes </p>
                <p class="card-text"> 10.60 DT </p>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Men -->
        <div class="col-lg-4 col-sm-6 col-md-6">
          <div class="widget-featured-entries mt-5 mt-lg-0">
            <h4 class="mb-4 pb-3"> Men </h4>
  
            <!-- Product1 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/men2.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Shirt </p>
                <p class="card-text"> 27.99 DT </p>
              </div>
            </div>

            <br>
            <!-- Product2 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/men8.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Sweater </p>
                <p class="card-text"> 42.99 DT </p>
              </div>
            </div>

            <br>
            <!-- Product3 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/men3.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Set </p>
                <p class="card-text"> 38.00 DT </p>
              </div>
            </div>

            <br>
            <!-- Product4 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/men4.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Coat </p>
                <p class="card-text"> 35.00 DT </p>
              </div>
            </div>

            <br>
            <!-- Product5 -->
            <div class="card flex-row border-secondary">
              <a href="product-single">
                <img class="card-img-left example-card-img-responsive" src="assets/images/men15.jpg" width="70" height="100"/>
              </a>
              <div class="card-body">
                <p class="card-title h5 h4-sm"> Shoes </p>
                <p class="card-text"> 10.60 DT </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Advantages -->
  <section class="features border-top">
    <br>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="title text-center">
                <h2> Our advantages </h2>
                <p> Why Shoppy? </p>
            </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-6">
         <div class="cardd shadoww">
           <div class="feature-block p-3">
             <i class="tf-ion-android-bicycle"></i>
             <div class="content">
               <h5>Free Shipping</h5>
               <p>On all order over 39.00 DT</p>
             </div>
           </div>
         </div>
        </div>
       
        <div class="col-lg-3 col-sm-6 col-md-6">
          <div class="cardd shadoww">
           <div class="feature-block p-3">
             <i class="tf-wallet"></i>
             <div class="content">
               <h5>30 Days Return</h5>
               <p>Money back Guarantee</p>
             </div>
           </div>
         </div>
        </div>
       
        <div class="col-lg-3 col-sm-6 col-md-6">
         <div class="cardd shadoww">
           <div class="feature-block p-3">
             <i class="tf-key"></i>
             <div class="content">
               <h5>Secure Checkout</h5>
               <p>100% Protected by paypal</p>
             </div>
           </div>
          </div>
        </div>
       
        <div class="col-lg-3 col-sm-6 col-md-6">
         <div class="cardd shadoww">
           <div class="feature-block p-3">
             <i class="tf-clock"></i>
             <div class="content">
               <h5>24/7 Support</h5>
               <p>All time customer support </p>
             </div>
           </div>
          </div>
        </div>
</div>
</div>    
</section>
<br> 